body{
    width: 940px;
    background-color: #E5E5E5;
    overflow-x: hidden;
}
#logo{
    position: absolute;
    left: 10px;
    top: 5px;
    bottom: 93.02%;

}
/*-------------------------------------------- NAVIGATION-BAR--------------------------------------*/
.navigation-box{
    position: absolute;
    width: 1150px;
    height: 48px;
    left: 60px;
    top: 39px;
   
    z-index: 2;
}
.navigation{
    list-style-type: none ;
    
    
}
.navigation li{
    position: absolute;
    width: 97px;
    top: 13px;
    height: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}
.navigation li a{
    text-decoration: none;
    color: #000000;
}
#men{
    
    width: 97px;
    left: 100px;  
}
#women{   
    width: 97px;
    left: 300px;
}
#children{
    width: 112px;
    left: 500px;
}
#customize{
    width: 163px;
    left: 700px;
}
#search{
    position: absolute;
    width: 220px;
    height: 45px;
    left: 900px;  
    top: 10px;
}
#car{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 1100px;
    top: 8px;
}
#lup{
    position: absolute;
    right: 50px; 
    top: 6px;
    height: 21px;  
}
/*--------------------------------------------BOX-PRODUCT--------------------------------------*/
.product{
    position: absolute;
    width: 750px;
    height: 724px;
    left: 480px;
    top: 0px;
    
    background-color: #C4C4C4;
    ;
    
}
/*-------------------------------------------- PRODUCT  SLIDE---------------------------------------------*/
.slider-projects{   
    margin: 0;
    padding: 0;
    width: 100%;
    height: 724px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{

    margin: 0 auto;
    width: 750px;
    height: 724px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
   

}
.slide{
    top: 170px;
    width: 25%;
    position: relative;
    
}
.slide img{
    
    width: 800px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    top: 600px;
    
}

.manual-btn{
    border: 2px solid rgb(12, 12, 12);
   
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: rgb(14, 14, 14);
}

#radio1:checked ~ .first{
    
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

/*-------------------------------------------- DECRIPTION-PRODUCT----------------------------------------*/
.info-product{
    position: absolute;
    width: 357px;
    height: 533px;
    left: 72px;
    top: 150px;    
    
}
#title-product{
    position: absolute;
    width: 357px;
    height: 272px;
    top: -30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}
#description-product{
    position: absolute;
    width: 342px;
    height: 57px;
    top: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #9C9696;
}
#price-product{
    position: absolute;
    width: 220px;
    height: 42px;
    left: 72px;
    top: 330px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
#button-buy{
    position: absolute;
    width: 274px;
    height: 90px;
    left: 50px;
    top: 430px;
    font-weight: bolder;
    color: #E5E5E5;
    background: #FF0000;
}
#button-buy:hover{
    
    background-color: green;

}
/*-------------------------------------------- FOOTER--------------------------------------*/
footer{
    position: absolute;
    width: 1170px;
    height: 166.33px;
    left: 60px;
    top: 724px;
   
}
#video-product{
    position: absolute;
    width: 250px;
    height: 166.33px;
    left: 0px;
    
    
}
.footer-network li{
    list-style-type: none ;
    width: 100px;
    height: 23px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: inline;
    top: 50%;
    
}
.footer-network li a{
    text-decoration: none;
    color: #000000;
}
#facebook{
    
    left: 297px;
    
}
#instagram{
   
    left: 484px;
}
#youtube{
    
    left: 680px;
}
#twitter{
    
    left: 831px;
}
/*--------------------------BOTTON EXPLORE MORE---------------------------------------------------------------*/
.explore-more{
    top: 0;
    background-color: #000000;
    
    width: 13rem;
    height: 166.33px;
    position: absolute;
    left: 962px;  

}
button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
   
button.learn-more {
    top: 40%;
    left: 2px;
    width: 12rem;
    height: auto;
}
   
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #C4C4C4;
    border-radius: 1.625rem;
}
   
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
  
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}
   
button:hover .circle .icon.arrow {
    background: black;
    transform: translate(1rem, 0);
}
   
button:hover .button-text {
    color: black;
}
